@charset "utf-8";

:root {
  --gra: linear-gradient(
    113deg,
    #e0e4f9 25.89%,
    #f0e2ec 82.34%,
    #faf3f0 105.77%
  );

  --gray1: #121212;
  --gray2: #4f4f4f;
  --gray3: #bdbdbd;
  --gray4: #f2f2f2;
  --gray5: #fdfdfd;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Pretendard @font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("/font/Pretendard-Light.subset-8c2d0d1ff8a65a3daa9d65461565a7e7.woff")
      format("woff"),
    url("/font/Pretendard-Light.subset-edbf558dafc7610d4031c6e90b3f6506.woff2")
      format("woff2");
} */

/* @font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  src: url("/font/Pretendard-Regular.subset-37eb08321a72dcebeb5cff304ad3967b.woff")
      format("woff"),
    url("/font/Pretendard-Regular.subset-0e5701726a18f18c75f1eadfe7fd4c5a.woff2")
      format("woff2");
} */

/* @font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/font/Pretendard-Medium.subset-99418246fc1c939939607b76fca0742e.woff")
      format("woff"),
    url("/font/Pretendard-Medium.subset-201c9877b1ae82b0b760390526e7a5ba.woff2")
      format("woff2");
} */

/* @font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("/font/Pretendard-SemiBold.subset-f03e74fb2ab15e6580a875c1edb86e3a.woff")
      format("woff"),
    url("/font/Pretendard-SemiBold.subset-e98acacabdd7864378a34ea1e90e98ef.woff2")
      format("woff2");
} */

/* @font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("/font/Pretendard-Bold.subset-9c1a831be7b4b65bf2093a33a3e2e05a.woff")
      format("woff"),
    url("/font/Pretendard-Bold.subset-0cc59186812b67f13a8eff679f3f14a9.woff2")
      format("woff2");
} */

/* @font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("/font/Pretendard-ExtraBold.subset-9d17a107be8aac1536300d7fb0412b0d.woff")
      format("woff"),
    url("/font/Pretendard-ExtraBold.subset-fe00650272b3a983e6f10c9b8600946a.woff2")
      format("woff2");
} */

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 4px;
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background-color: #fdfdfd; /* 트랙 배경 */
}

/* 스크롤바 썸 (움직이는 부분) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #d8def8 0%, #ecd6e2 70.67%, #faf2e4 100%);
  border-radius: 10px;
}

/* hover 시 색상 변경 */
::-webkit-scrollbar-thumb:hover {
  background-color: #d8def8;
}

/* ============================================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: var(--gray1);
  word-break: keep-all;
  font-weight: normal;
  font-size: 20px;
  font-family: Pretendard, "나눔바른고딕", "Nanum BarunGothic", "Malgun Gothic",
    "맑은고딕", "Apple SD Gothic Neo", Dotum, "돋움", sans-serif;
  overflow-x: hidden;
}
img {
  vertical-align: middle;
  border: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  display: block;
  color: var(--gray3);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #333;
  text-decoration: none;
}
button {
  cursor: pointer;
}

/* ==================== */

.wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
